.btn1 {
    width: 150px;
    height: 36px;
    border-radius: 7px;
    background: #1877F2;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: #FFF;
    border: none;
    margin-bottom: 48px;
}