.column2 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.profiles {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    padding: 10px 32px;
    background-color: white;
    border-radius: 7px;
    gap: 5px;
    max-height: fit-content;
    width: 710px;
    height: 280px;
}