.group-profile {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.pfp {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 3px;
}