.news-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info h5 {
    font-weight: 700;
    text-wrap: wrap;
    max-width: fit-content;
}

.info p {
    font-weight: 400;
    text-wrap: wrap;
    max-width: fit-content;
}

.blue {
    color: #1877F2;
}