.profile-card {
    border-radius: 7px;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.18);
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    max-height: fit-content;
}

.profile-name {
    display: flex;
    gap: 5px;
    align-items: center;
}