.request {
    background: #F9F9F9;
    border-radius: 7px;
    height: 100px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.top-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.request-profile {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.bottom-row {
    gap: 5px;
    display: flex;
    justify-content: space-between;
}