.thoughts {
    background-color: white;
    width: 710px;
    height: fit-content;
    padding-left: 27px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 17px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    gap: 16px;
}

.row1 {
    display: flex;
    gap: 8px;
}

h4 {
    font-weight: 400;
    text-wrap: nowrap;
}

.thoughts-q {
    background: #F0F2F5;
    width: 617px;
    height: 40px;
    border-radius: 31px;
    display: flex;
    padding-left: 13px;
    align-items: center;
}

.line {
    width: 655px;
    height: 1px;
    background-color: #E4E6EB;
}

.row2 {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 94px;
}

.upload {
    display: flex;
    flex-direction: row;
    gap: 6px;
}